<!DOCTYPE html>
<html lang="en">
<head>
    {include file="common/head"}
    <link rel="stylesheet" href="_STATIC_/css/about.css">
    <script src="_STATIC_/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="_STATIC_/js/about.js"></script>
</head>
<body>
    {include file="common/header"}
    <div class="banner">
        <img src="_STATIC_/image/banner1.jpg" alt="">
    </div>
    <div class="content">
        <div class="cont1">
            <h1>关于我们</h1>
            <h3>"about me"</h3>
            <div class="title">
                <ul>
                    <li class="active">公司简介</li>
                    <li>公司优势</li>
                    <li>公司团队</li>
                    <li>公司环境</li>
                </ul>
            </div>
            <div class="case">
                <div class="case1" style="display: block">
                    <div class="case1_cont1">
                        <img src="_STATIC_/image/compony1.jpg" alt="">
                    </div>
                    <div class="case1_cont2">
                        dzfvdf地方和光伏Dave水电费VB
                    </div>
                </div>
                <div class="case1">
                    <h3>2222222222222222</h3>
                </div>
                <div class="case1">
                    <h3>333333333333333333333</h3>
                </div>
                <div class="case1">
                    <h3>333333333333333333333</h3>
                </div>
            </div>
        </div>
    </div>
    {include file="common/bottom"}
</body>
</html>