<!DOCTYPE html>
<html lang="en">
<head>
    {include file="common/head"}
    <link rel="stylesheet" href="_STATIC_/css/demo.css">
</head>
<body>
    {include file="common/header"}
    <div class="banner">
        <img src="_STATIC_/image/banner1.jpg" alt="">
    </div>
    <div class="nav">
        <ul>
            <li><a href="">全部案例</a></li>
            <li><a href="">网页pc端</a></li>
            <li><a href="">移动APP</a></li>
            <li><a href="">微信公众平台</a></li>
            <li><a href="">erp系统开发</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="cont1">
            <div class="son">
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
            </div>
        </div>

        {include file="common/bottom"}
    </div>
</body>
</html>